/*datebox*/
.mainbox {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  padding-bottom: 3em;
}

#user_nav {
  background: $color;
  border-radius: 0.5em;
  padding: 2em;
  margin-bottom: 2em;
  #left, #right {
    display: inline-block;
  }
  #userimage, #username {
    display: inline-block;
  }
  #userimage {
    border: 0.3em white solid;
    border-radius: 0.3em;
    width: 60px;
  }
  #username {
    color: white;
    font-size: 2em;
    margin-left: 0.5em;
  }
  #left {
    width: 68%;
  }
  #right {
    width: 30%;
    text-align: right;
    position: absolute;
    a {
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

.datebox{
  background: $color;
  border-radius: 0.5em;
  padding: 2em;
}

label {
  font-family: Lato, sans-serif;
  color: white;
  display: block;
}

input[type=date] {
  display: inline-block;
  width: 49%;
  @media only screen and (max-width: 640px) {
    display: block;
    width: 100%;
  }
}