#resultbox {
  position: relative;
  top: 35%;
  left: 33%;
  width: 35%;
  background:rgba(168,168,168,0.3);
  border-radius: 0.5em;
}
#resultboxtext {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.8em;
  font-weight: bold;
}
#resultboxtext, .event{
  color: white;
  font-family: Lato, sans-serif;
}

.event{
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.title {
  font-weight: bold;
  font-size: 1.2em;
}
.eventimg {
  position: relative;
  top: -2em;
  margin-right: 1em;
  border-radius: 0.5em;
}
#fuckcss{
  margin-top: -1em;
  margin-bottom: -0.3em;
}
.venue {
  position: relative;
  top: -0.5em;
  width: 100%;
}
.time {
  position: relative;
  top: 1.5em;
}
.venue, .time, .availability {
  display: inline-block;
}

.small-profile-pic{
  height: 1.4em;
  width; auto;
}

.friend-images{
  display: inline-block;
}
.profile-pic {
  display: inline-block;
  position: relative;
  top:-2em;
  height: 4em;
  width: auto;
}
.see-more-people{
  display: inline-block;
  position: relative;
  top: -1.4em;
  font-weight: bold;
  font-size: 1.2em;
}
.description{
  position: relative;
  margin-top: -2em;
}

.invite-button{
  margin-bottom: 0.5em;
}