.resultboxtext {
  font-size: 1.8em;
  font-weight: bold;
}
.resultboxtext, .event{
  color: white;
  font-family: Lato, sans-serif;
}
.eventbox {
  margin: 2em 0;
}
.event{
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.title {
  font-weight: bold;
  font-size: 1.2em;
}
.description {
  clear: both;
}
.eventimg {
  display: inline;
  width: 8em;
  border-radius: 0.5em;
  border: 0.5em white solid;
  float: left;
  margin-right: 1em;
}
.invitebutton{
  margin: 0 0 0.5em;
}
.friend-images {
  p {
    display: inline-block;
    font-weight: bold;
    border-radius: 0.3em;
    border: 0.3em white solid;
  }
  img {
    border-radius: 0.3em;
    border: 0.3em white solid;
    height: 58px;
  }
}